[Unit]
Description=Pleroma social network
After=network.target postgresql.service nginx.service

[Service]
KillMode=process
Restart=on-failure

; Name of the user that runs the Pleroma service.
User=pleroma

; Make sure that all paths fit your installation.
; Path to the home directory of the user running the Pleroma service.
Environment="HOME=/opt/pleroma"
; Path to the folder containing the Pleroma installation.
WorkingDirectory=/opt/pleroma
; Path to the Pleroma binary.
ExecStart=/opt/pleroma/bin/pleroma start
ExecStop=/opt/pleroma/bin/pleroma stop

PrivateTmp=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
; Drops the sysadmin capability from the daemon.
CapabilityBoundingSet=~CAP_SYS_ADMIN

RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
ProcSubset=pid
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
PrivateIPC=true
PrivateUsers=true
MemoryDenyWriteExecute=true
LockPersonality=true
ProtectClock=true
UMask=0022

SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target